
.tab{
border:1px solid 003f7f;
position:fixed;
_position:absolute;
top:50%; left:50%;
margin-top:-200px;/*表格高的一半*/
margin-left:-200px;/*表格宽的一半*/
// -webkit-box-shadow: 3px 3px 10px  003f7f inset;
// box-shadow: 3px 3px 10px  003f7f inset;
 box-shadow: 0 0 5px 003f7f;
 width:500px;
 hight:500px;
}
h2{
	padding-top:20px;
	font-size:19px;
	color:003f7f;
	border-bottom: 1px solid #000;
}
.tab td{
	padding-left:50px;
	padding-right:50px;
	border:none;
}
#first{
	padding-top:5px;
}
#secd
{
	padding-top:10px;
}
#last{
	padding-bottom:40px;
}
#input1
{
	width:300px;
}
#input2
{
	width:300px;
}

